{% extends "base.html" %}
{% load static %}

{% block css_files %}

{# "static" tag only available in the href if we "load static" like in the 2. line #}
    <link rel="stylesheet" href="{% static 'challenges/challenge.css'%}">
    <link rel="stylesheet" href="{% static 'challenges/includes/header.css'%}">
{% endblock %}

{% block page_title %}Monthly Challenge{% endblock %}
{% block content %}
    {# absolute path to the actual template we want to include #}
    {% include "challenges/includes/header.html" %}

    <h1>{{ month_name|title }}'s Challenge</h1>
    {% if text is not None %}
        <h2>{{ text }}</h2>
    {% else %}
        <p class="fallback">There is no challenge for this month yet!</p>
    {% endif %}
{% endblock %}