{% extends "base.html" %}
{% load static %}

{% block css_files %}

{# "static" tag only available in the href if we "load static" like in the 2. line #}
    <link rel="stylesheet" href="{% static 'challenges/challenges.css'%}">
    <link rel="stylesheet" href="{% static 'challenges/includes/header.css'%}">
{% endblock %}

{% block page_title %}All Challenges{% endblock %}

{% block content %}
    {# absolute path to the actual template we want to include #}
    {% include "challenges/includes/header.html" %}
    <ul>
        {% for month in months %}
        <li><a href="{% url "month-challenge" month%}">{{ month|title }}</a> </li>
        {% endfor %}
    </ul>
{% endblock %}
