header {
    width: 100%;
    height: 5rem;
    background-color: #3b3b3b;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

header nav a:hover,
li a:active {
color: #d51692;
}
