{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}My Challenges{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>

{# Have to write the folder of this template (templates in main folder) to settings.py to let Django find the template #}