@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    background-color: #2a2a2a;
}