h1, h2 {
    text-align: center;
    color: white;
}

h1 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    color: #d51692;

}

h2 {
    font-size: 3rem;
    font-weight: bold;

}

.fallback {
    text-align: center;
    color: #bdbcbc;
}